body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.signup-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    text-align: left;
    padding-left: 10px;
}

form input::placeholder {
    color: #888;
}

form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

form p {
    text-align: center;
    margin-top: 10px;
}

form p a {
    color: #4caf50;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

.message {
    border-color: rgba(67, 217, 163, 0.3);
    background-color: #dcf8ee;
    color: #2bd396;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    display: none;
    animation: fadeInOut 3s ease forwards;
    position: absolute;
    right: 20px;
    bottom: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}